.header{
  width: 100%;
  height: 100vh;
  background-color: rgb(25,48,61);
  display: flex;
  justify-content: center;
  align-items: center;
}
.headContent{
  width: 80%;
  height: 70vh;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;

}
.content{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.headContent .content .headTitle p{
  color: rgb(49,165,232);
  font-weight: 800;
  line-height: 1.15em;
  letter-spacing: 1.5px;
}
.headContent .content .headDescription p{
  color: #fff;
  font-weight: 700;
  font-size: 4.5rem;
  letter-spacing: 1.5px;
  line-height: 75px;
}

.headButton{
  width: 70%;
  height: 70px;
  margin-top: 4rem;
}

.headImageContianer {
  width: 50%;
  height: 100%;
}
.headImageContianer div{
  width: 100%;
  height: 100%;
  position: relative;
}
.backImg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.starImg{
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.headImg{
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%,-50%);
  z-index: 1;
  border: 1px solid black;
  object-fit: cover;
  clip-path: path('M13.100000381469727,0.0 L0.0,189.39999389648438 L39.5,268.29998779296875 L44.70000076293945,386.70001220703125 L328.79998779296875,499.79998779296875 L399.79998779296875,69.69999694824219 L136.8000030517578,78.9000015258789 Z');
}

.midDiv{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(40,97,129);
}
.midDivContent{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.midDivContent .img{
  width: 33rem;
  height: 30rem;
  background-image: url('https://vitro.my.canva.site/hjem/images/7b6debd3a061d49b54740811e099310f.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(4% 0, 86% 0, 100% 100%, 16% 100%);
}
.midContentContainer{
  width: 30rem;
}
.softSol p{
  color: #ece8e8;
  font-weight: 700;
  font-size: 3rem;
}
.midContentContainerDesc p {
  color: #ece8e8;
  font-size: 1.1rem;
  margin-top: 0.8rem;
  line-height: 25px;
}

.aboutUs{
  width: 100%;
  min-height: 70vh;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(25,48,61);;
}
.aboutUsTitle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUsTitle p{
  color: #d9d1d1;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-weight: 700;
}
.aboutServices{
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
}
.aboutServiceContainer{
  width: 20rem;
  height: 33rem;
  margin-top: 1rem;
}
.whyUs{
  width: 100%;
  min-height: 80vh;
}
.whyUsTitle{
  margin-top: 5rem;
  text-align: center;
}
.whyUsTitle p{
  font-weight: 600;
  font-size: 3rem;
}
.services{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4rem;
  align-items: center;
  min-height: 50vh;
}

.footer{
  width: 100%;
  background-color: rgb(25,48,61);
}

.footerDescription{
  width: 100%;
  height: 90vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footerDescription div p{
  font-weight: 800;
  color:#31a5e8;
  font-size: 3.8rem;
}
.contactUs{
  width: 100%;
  min-height: 90vh;
  background-color: rgb(25,48,61);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactUs .outterDiv{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.contactUsContent p:first-child{
  font-weight: 800;
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: #31a5e8;
}

.contactUsContent p:nth-child(2){
  color: #31a5e8;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.contactUsButton{
  width: 13rem;
  height: 3.5rem;
  margin-top: 1.8rem;
}
.emailUsContainer{
  margin-top: 1.8rem;
}

.emailUsContainer p:nth-child(1){
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  color: #31a5e8;
}

.emailUsContainer p:nth-child(2){
  color: #fff;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

@media only screen and (max-width:1034px)  {
  .midDivContent{
    width: 100%;
    padding: 1rem 0rem;
    flex-direction: column;
    align-items: center;
  }
  .midContentContainer{
    width: 50rem;
    margin-top: 3rem;
  }
}
@media only screen and (max-width:1260px) {
  .header{
    height: 138vh;
    align-items: flex-start;
  }
  .headContent{
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .content{
    width: 85%;
  }
  .headImageContianer{
    margin-top: 25rem;
  }
}
@media only screen and (max-width:870px) {
  .footer .footerDescription div p{
    font-size: 2.8rem;
  }
}
@media only screen and (max-width:790px) {
  .services{
    min-height: 130vh;
  }
}
@media only screen and (max-width:680px) {
  .midContentContainer{
    width: 30rem;
    margin-top: 3rem;
  }
  .footer .footerDescription div p{
    font-size: 2.5rem;
  }
  .headContent .content .headDescription p{
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
    letter-spacing: 1.5px;
    line-height: 65px;
  }
}
@media only screen and (max-width:580px) {
  .services{
    min-height: 150vh;
  }
  .footer .footerDescription div p{
    font-size: 1.6rem;
  }
  .contactUsContent p:first-child{
    font-size: 2.5rem;
  }
  .contactUsContent p:nth-child(2){
    font-size: 1rem;
  }
}
@media only screen and (max-width:480px) {
  .midDivContent .img{
    width: 28rem;
    height: 30rem;
  }
  .midContentContainer{
    width: 27rem;
    margin-top: 3rem;
  }
  .footerDescription{
    height: 33vh;
  }
  .footerDescription div p{
    font-size: 0.2rem;
  }
  .contactUs{
    min-height: 30vh;
  }
  .headContent .content .headDescription{
    margin-top: 1rem;
  }
  .headContent .content .headDescription p{
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    line-height: 50px;
  }
  .headButton{
    width: 100%;
  }
  .content{
    margin-top: 3rem;
  }
  .header{
    height: 138vh;
    /* justify-content: space-between; */
    align-items: flex-start;
  }
  .headImageContianer .headImg{
    width: 290px;
    height: 500px;
  }
  .headImageContianer .backImg{
    width: 380px;
    height: 480px;
  }
  .headImageContianer .starImg{
    width: 100px;
    height: 100px;
  }
  .contactUs{
    height: 100vh;
    align-items: flex-start;
  }
}