.services{
    width: 100%;
}
.headContent{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.headContent h1{
    font-size: 5rem;
    letter-spacing: 8px;
}
.link{
    display: flex;
    justify-content: center;
}
.mid_content{
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: rgb(25,48,61);
    width: 100%;
    min-height: 70vh;
}

.aboutUs{
    width: 100%;
    min-height: 40vh;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  .aboutUsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutUsTitle p{    
    color: #000000;
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: 700;
  }

.heading{
    display: flex;
    justify-content: center;
    color: #fff;
}

.cardContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cardContainer .AboutServiceCard{
    width: 20rem;
    height: 35rem;
    margin-top: 1rem;
}
.cyberServices{
    display: none;
    margin-top: 3.8rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.cyberServices div{
    width: 11rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #fdaa8e;
    color: #000000;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.cyberServices div:hover{
    background-color: #000000;
    color: #ffffff;
}

.lowerSec{
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .lowerSecDescription{
    width: 100%;
    height: 65vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .lowerSecDescription div p{
    font-weight: 800;
    color:#000000;
    font-size: 3.8rem;
  }

  .webDevServices{
    display: none;
    margin-top: 3.8rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.webDevServices div{
    width: 11rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 5rem;
    background-color: #fdaa8e;
    color: #000000;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}
.webDevServices div:hover{
    background-color: #ffffff;
    color: #000000;
}

.webDevServicesSec{
    width: 100%;
    min-height: 40vh;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 0, 0);
  }
.webDevServicesTitle
{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webDevServicesTitle p{    
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 3px;
    font-weight: 700;
  }

.bottomSec{
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  
  .bottomSecDescription{
    width: 100%;
    height: 65vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .bottomSecDescription div p{
    font-weight: 800;
    color:#ffffff;
    font-size: 3.8rem;
  }